// Clearfix for rows with collapsed height because of floated childs
@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
}

// MEDIA QUERIES MANAGER
/*
0 - 600px:        Phone
600 - 900px:      Tablet portrait
900 - 1200px:     Tablet landscape
[1200-1800px ]:   Normal styles with desktop first
1800px +:         Big Desktop

$breakpoint arguments:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16 px. Media queries are not affected by the base font size we set so rem fails here
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {    // 600px
      @content;
    }
  }
  @if $breakpoint == tab-port {     // 900px
    @media (max-width: 56.25em) {
      @content;
    }
  }  
  @if $breakpoint == tab-land {     // 1200px
    @media (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {  // 1800px
    @media (min-width: 112.5em) {
      @content;
    }
  }
}

// First solution ~ not practical
// @mixin respond-phone {
//   @media (max-width: 600px) {
//     @content;
//   }
// }
