// COLORS
$color-primary: #3DA5ED;
$color-primary-light: #10bcf0;
$color-primary-dark: #6A8ADF;

$color-secondary-light: #ffe600;
$color-secondary-dark: #df8005;

$color-tertiary-light: #f00606;
$color-tertiary-dark: #ac0202;

$color-quaternary-light: rgb(91, 46, 173);
$color-quaternary-dark: rgb(56, 1, 158);


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT

$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
